body {
    background-color: #f8f9fa;
  }
  .card {
    max-width: 600px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .card img {
    border-radius: 15px;
  }
  .btn-danger {
    margin-left: 10px;
  }
  .portada{
      width: 150px;
      height: 150px;
      text-align: center;
      margin: auto;
  }